#calc {
    width: 410px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 10px;
    background-color: #bbdefb;
    box-shadow: 7px 7px 4px grey;
}

#result {
    width: 460px;
    height: 70px;
    font-size: 3rem;
    border: 2px solid #37474f;
    border-radius: 10px;
    margin: 10px 10px 10px 14px;
    padding: 4px 4px 4px 12px;
    box-shadow: -3px -3px 4px grey;
}

#btn,
#del-btn,
#ac-btn,
#equalsto-btn {
    width: 92px;
    height: 76px;
    background-color: #EEEEEE;
    color: black;
    border-radius: 8px;
    margin: 15;
    padding: 6px;
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: 4px 4px 2px grey;
}

#del-btn {
    background-color: #aed581;
    color: white;
}

#ac-btn {
    color: white;
    background-color: #ef9a9a;
}

#equalsto-btn {
    color: white;
    background-color: rgba(0, 145, 234, 0.6)
}

.grey {
    background-color: rgba(128, 128, 128, 0.3) !important;
}